USE [master]
GO
/****** Object:  Database [Darya]    Script Date: 2/18/2026 7:52:12 PM ******/
CREATE DATABASE [Darya]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Darya', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Darya.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Darya_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Darya_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Darya].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Darya]
GO
/****** Object:  Table [dbo].[Lecture]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[TextCorrect] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](max) NULL,
	[IdLevelType] [int] NOT NULL,
 CONSTRAINT [PK_Lecture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Level]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelType]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLevel] [int] NOT NULL,
	[IdType] [int] NOT NULL,
 CONSTRAINT [PK_LevelType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[WrongAnswerOne] [nvarchar](max) NOT NULL,
	[WrongAnswerTwo] [nvarchar](max) NOT NULL,
	[CorrectAnswer] [nvarchar](max) NOT NULL,
	[IdLevelType] [int] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionUser]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdQuestion] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[Done] [bit] NOT NULL,
 CONSTRAINT [PK_QuestionUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](15) NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[IdRole] [int] NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLecture]    Script Date: 2/18/2026 7:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLecture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdLecture] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserLecture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lecture] ON 

INSERT [dbo].[Lecture] ([Id], [Title], [TextCorrect], [FilePath], [VideoUrl], [IdLevelType]) VALUES (1, N'Введение в мир БПЛА', N'Классификация дронов, основные термины и история развития беспилотной авиации.', NULL, N'https://www.youtube.com/playlist?list=PL6YxO2VuFvNk9bkHpJ4YfjtvJd1rxacu0', 1)
INSERT [dbo].[Lecture] ([Id], [Title], [TextCorrect], [FilePath], [VideoUrl], [IdLevelType]) VALUES (2, N'Типы конструкций: Мультироторы', N'Различия между квадро-, гекса- и октокоптерами. Принципы вертикального взлета.', N'', N'https://www.youtube.com/watch?v=xlR7OBvDca4', 2)
INSERT [dbo].[Lecture] ([Id], [Title], [TextCorrect], [FilePath], [VideoUrl], [IdLevelType]) VALUES (3, N'Основы FPV полетов', N'Что такое First Person View, необходимое оборудование и специфика пилотирования.', N'', N'https://www.youtube.com/watch?v=fgZnj6Oskxk', 3)
SET IDENTITY_INSERT [dbo].[Lecture] OFF
GO
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([Id], [Name]) VALUES (1, N'Уровень 1')
INSERT [dbo].[Level] ([Id], [Name]) VALUES (2, N'Уровень 2')
INSERT [dbo].[Level] ([Id], [Name]) VALUES (3, N'Уровень 3')
SET IDENTITY_INSERT [dbo].[Level] OFF
GO
SET IDENTITY_INSERT [dbo].[LevelType] ON 

INSERT [dbo].[LevelType] ([Id], [IdLevel], [IdType]) VALUES (1, 1, 1)
INSERT [dbo].[LevelType] ([Id], [IdLevel], [IdType]) VALUES (2, 2, 1)
INSERT [dbo].[LevelType] ([Id], [IdLevel], [IdType]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[LevelType] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([Id], [Question], [WrongAnswerOne], [WrongAnswerTwo], [CorrectAnswer], [IdLevelType]) VALUES (1, N'Что означает аббревиатура БПЛА?', N'Беспилотный пассажирский лифт-аппарат', N'Бортовой пульт левого анализатора', N'Беспилотный летательный аппарат', 1)
INSERT [dbo].[Question] ([Id], [Question], [WrongAnswerOne], [WrongAnswerTwo], [CorrectAnswer], [IdLevelType]) VALUES (2, N'Как называется БПЛА с четырьмя винтами?', N'Гексакоптер', N'Моноплан', N'Квадрокоптер', 1)
INSERT [dbo].[Question] ([Id], [Question], [WrongAnswerOne], [WrongAnswerTwo], [CorrectAnswer], [IdLevelType]) VALUES (3, N'Что используется для управления БПЛА в реальном времени?', N'Лазерная указка', N'Стационарный телефон', N'Пульт дистанционного управления', 1)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionUser] ON 

INSERT [dbo].[QuestionUser] ([Id], [IdQuestion], [IdUser], [Done]) VALUES (1, 1, 1, 1)
INSERT [dbo].[QuestionUser] ([Id], [IdQuestion], [IdUser], [Done]) VALUES (2, 2, 1, 0)
INSERT [dbo].[QuestionUser] ([Id], [IdQuestion], [IdUser], [Done]) VALUES (3, 3, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[QuestionUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Ученик')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Учитель')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Системный администратор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([Id], [Name]) VALUES (1, N'Легкий ')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (2, N'Средний')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (3, N'Тяжелый')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Fullname], [Login], [Password], [RegistrationDate], [IdRole], [Photo]) VALUES (1, N'Петров Петр Петрович', N'login1', N'1', CAST(N'2026-02-02' AS Date), 1, NULL)
INSERT [dbo].[User] ([Id], [Fullname], [Login], [Password], [RegistrationDate], [IdRole], [Photo]) VALUES (2, N'Иванов Иван Иванович', N'login1', N'2', CAST(N'2026-02-02' AS Date), 1, NULL)
INSERT [dbo].[User] ([Id], [Fullname], [Login], [Password], [RegistrationDate], [IdRole], [Photo]) VALUES (3, N'Меркулов Алексей Алексеевич', N'login1', N'3', CAST(N'2026-02-02' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLecture] ON 

INSERT [dbo].[UserLecture] ([Id], [IdUser], [IdLecture], [IsCompleted]) VALUES (1, 1, 1, 1)
INSERT [dbo].[UserLecture] ([Id], [IdUser], [IdLecture], [IsCompleted]) VALUES (3, 1, 3, 0)
INSERT [dbo].[UserLecture] ([Id], [IdUser], [IdLecture], [IsCompleted]) VALUES (4, 2, 1, 0)
SET IDENTITY_INSERT [dbo].[UserLecture] OFF
GO
ALTER TABLE [dbo].[Lecture]  WITH CHECK ADD  CONSTRAINT [FK_Lecture_LevelType] FOREIGN KEY([IdLevelType])
REFERENCES [dbo].[LevelType] ([Id])
GO
ALTER TABLE [dbo].[Lecture] CHECK CONSTRAINT [FK_Lecture_LevelType]
GO
ALTER TABLE [dbo].[LevelType]  WITH CHECK ADD  CONSTRAINT [FK_LevelType_Level] FOREIGN KEY([IdLevel])
REFERENCES [dbo].[Level] ([Id])
GO
ALTER TABLE [dbo].[LevelType] CHECK CONSTRAINT [FK_LevelType_Level]
GO
ALTER TABLE [dbo].[LevelType]  WITH CHECK ADD  CONSTRAINT [FK_LevelType_Type] FOREIGN KEY([IdType])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[LevelType] CHECK CONSTRAINT [FK_LevelType_Type]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_LevelType] FOREIGN KEY([IdLevelType])
REFERENCES [dbo].[LevelType] ([Id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_LevelType]
GO
ALTER TABLE [dbo].[QuestionUser]  WITH CHECK ADD  CONSTRAINT [FK_QuestionUser_Question] FOREIGN KEY([IdQuestion])
REFERENCES [dbo].[Question] ([Id])
GO
ALTER TABLE [dbo].[QuestionUser] CHECK CONSTRAINT [FK_QuestionUser_Question]
GO
ALTER TABLE [dbo].[QuestionUser]  WITH CHECK ADD  CONSTRAINT [FK_QuestionUser_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[QuestionUser] CHECK CONSTRAINT [FK_QuestionUser_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserLecture]  WITH CHECK ADD  CONSTRAINT [FK_UserLecture_Lecture] FOREIGN KEY([IdLecture])
REFERENCES [dbo].[Lecture] ([Id])
GO
ALTER TABLE [dbo].[UserLecture] CHECK CONSTRAINT [FK_UserLecture_Lecture]
GO
ALTER TABLE [dbo].[UserLecture]  WITH CHECK ADD  CONSTRAINT [FK_UserLecture_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserLecture] CHECK CONSTRAINT [FK_UserLecture_User]
GO
USE [master]
GO
